- user = ["2/small/mark.png", "/small/elliot.jpg", "2/small/lena.png", "2/small/molly.png"].sample
- avatar = "http://semantic-ui.com/images/avatar#{user}"

.event
  .label
    %img{src: avatar}
  .content
    - if edit.multiple_changes?
      = render partial: 'edits/summary', object: edit, as: :edit
    - else
      = render partial: 'edits/single', object: edit, as: :edit