- unless edit.no_change?
  .event
    .label
      %img{ src: edit.editor.gravatar_url }
    .content
      - if edit.multiple_changes?
        = render partial: 'edits/summary', object: edit, as: :edit
      - elsif edit.single_change?
        = render partial: 'edits/single', object: edit, as: :edit
