.ui.horizontal.divider

= render partial: 'edits/edit', object: edit

= link_to decline_development_edit_path(@development, edit), method: :post do
  .ui.basic.red.button
    %i.remove.icon
    Decline

= link_to approve_development_edit_path(@development, edit), method: :post do
  .ui.basic.green.button
    %i.checkmark.icon
    Approve

- if edit.conflict?
  .ui.basic.orange.label Conflict

.ui.horizontal.divider