#mega-map {
	height: 500px;
}

.search-grid {
  background-color: #2196F3;
  overflow-y: scroll;
}

.street-view-container {
  height: 500px;
}

.masthead{
  top: 45px;
}

.results {
  padding-left: 0 !important;
}

.ui.button {
  border-radius: 0 !important;
}

#map {
  height: 500px;
}

.map-list-results {
  /*max-height: calc(45vh) !important;*/
  overflow-y: scroll;
  padding-top: 0 !important;
}

.master-grid {
  /*height: calc(100vh + 15px) !important;*/
}


.map-container {
  padding-bottom: 0 !important;
}

.results-table {
  border: 0 !important;
  border-radius: 0 !important;
}

.ui.table {
  border-radius: 0;
}

.ui.attached.buttons {
  margin-left: 0;
  margin-right: 0;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
}

#sidebar {
  background-color: #1b1c1d;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px; 
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  background: red;
}

.main {
  margin-top: 45px;
}

.menu {
  min-width: 250px;
}

.autocomplete-field {
  width: 100%;
}

.autocomplete-field div {
  width: 100%;
}

.ui.input input {
  width: 100%;
}

#development-map {
  width: 520px;
  height: 500px;
}


