= render membership.organization
- if membership.pending?
  = link_to 'Cancel request', user_membership_deactivate_path(current_user, membership), method: :put, class: 'ui small red basic right floated button', style: 'bottom: 40px; right: 8px; position: relative;'
