.ui.horizontal.divider

%h4.ui.header Contributors

.middle.aligned.content
  = render partial: 'users/contributor', collection: @development.preview_contributors

  %a.launch-modal See all

.ui.modal
  %i.close.icon
  .header
    All Contributors
  .content
    .ui.middle.aligned.relaxed.selection.list
      = render partial: 'users/contributor_item', collection: @development.contributors, as: :contributor
