.ui.horizontal.divider
.ui.small.feed
  %h4.ui.header Recent Changes
  - if @development.recent_history.empty?
    .ui.basic.label
      Last Updated
      .detail
      = @development.created_at.to_s(:short)
    .event
      .content
        There is no activity to show.
        = link_to 'Edit this development.', edit_development_path(@development)
  = render partial: 'edits/edit', collection: @development.recent_history,
      as: :edit
  -# Add back a 'See all activity' link when we have a route for history.
