.ui.horizontal.divider
.ui.small.feed
  %h4.ui.header Recent Changes
  - if @development.recent_history.empty?
    .event
      .content
        There is no activity to show.
        = link_to 'Edit this development.', '#'
  = render partial: 'edits/edit', collection: @development.recent_history, as: :edit
  - if @development.recent_history.any?
    .event
      .label
        %i.list.icon
      .content
        %a See all activity
