%h3.ui.header
  Building &amp; Site
  .sub.header
    Physical Attributes

- if @development.physical_attributes.empty?
  -# TODO: Contribution button partial
  = link_to edit_development_path(@development) do
    %button.ui.green.button
      Contribute information
    about the physical characteristics of this development.

- if @development.physical_attributes.any?

  .ui.tiny.statistics
    - @development.physical_attributes.each do |field|
      - if value = @development.send(field)
        .ui.statistic
          .value= value
          .label
            = @development.human_name_for(field)
