.ui.label.large.basic
  %i.icon{class: @development.status_icon}
  = @development.status_with_year

.ui.label.large.basic
  %i.green.money.icon
  Total Cost:
  = number_to_currency @development.total_cost, precision: 0
