:ruby
  colors = [[:private, :grey], [:rdv, :red], [:mixed_use, :orange],
           [:asofright, :green], [:ovr55, :blue], [:clusteros, :purple],
           [:phased, :pink], [:stalled, :black]]

- tags = colors.select { |b| @development.send(b.first) }
- if tags.any?
  .row
    .ten.wide.column
      #tags
        - tags.each do |b|
          .ui.basic.label{class: b.last}
            = Development.human_attribute_name(b.first)
