.ui.horizontal.divider
%h4 Development Team
%table.ui.very.basic.collapsing.celled.table
  %tbody
    - if @development.team.empty?

      %p There's no development team listed yet.
      %p
        = succeed '.' do
          If your organization is on the development team,
          = link_to 'add it', edit_development_path(@development)

    - @development.team.each do |role, members|
      %tr
        %td
          = role.titleize
        %td
          .ui.items
            = render partial: 'developments/show/team_member', collection: members, as: :member
