- set_meta_tags title: @development.name
%h1.ui.header#title
  = @development.name
  .sub.header#address
    %i.icon.marker
    = @development.display_address
%p.tagline
  = @development.tagline
  - if @development.website
    %i.icon.linkify
    = link_to @development.website, @development.website, target: '_blank'
