%h1.ui.header#title
  = @development.name
  .sub.header#address
    %i.icon.marker
    = @development.address
%p.tagline
  = @development.tagline
  %i.icon.linkify
  = link_to @development.website, @development.website, target: '_blank'
