%h3.ui.header
  Transportation
  .sub.header
    Transit, Parking, and Walking

.ui.tiny.statistics

  .ui.green.statistic
    .label
      Walk Score
    .value
      93

  .ui.statistic
    .value
      25
    .label
      Parking Spaces

.ui.mini.red.statistic
  .value
    Charles / MGH
  .label
    Nearest Transit Station
