.ui.error.message
  %i.close.icon
  .header
    %i.refresh.icon
    Please reset your password.
  .p
    In order to help us improve security as we migrate to the new version of
    MassBuild,
    = link_to 'please reset your password', new_user_password_path
    before logging in.
