<div class="ui grid container">
  <div class="row">
    <div class="ten wide column" id="title-area">
      <h1 class="ui header" id="title">
       
        <div class="sub header" id="address">
          <i class="icon marker"></i>
         
        </div>
      </h1>
      <p class="tagline">
        {{#if model.website}}
          <i class="icon linkify"><a href="{{model.website}}" target="_blank">{{model.website}}</a></i>
        {{/if}}

      </p>

      <div id="status">
        
      </div>
    </div>
    <div class="six wide column" id="actions">
      
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      <div id="tags">
        
      </div>
      <div id="images">
        <img alt="600px;"/>
      </div>
      <div id="data">
        <div class="ui horizontal divider">Details</div>
      </div>
    </div>
    <div class="six wide column" id="sidebar">
      <div id="map">
        
      </div>
      <div id="team">
        
      </div>
      <div id="contrib">
        
      </div>
      <div id="related">
        
      </div>
      <div id="history">
        
      </div>
    </div>
  </div>
</div>
