<div id="data">
  <div class="ui horizontal divider">Employment</div>
</div>

<table class="ui very basic collapsing celled table">
  <tbody>
    <tr>
      <td>{{#ui-popup tagName="label" content="Anticipated net change in employment, if known."}}Employment (reported) <i class="help circle icon"></i>{{/ui-popup}}</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.rptdemp}}
        </div>
      </td>
    </tr>
    <tr>
      <td>{{#ui-popup tagName="label" content="Estimated employment losses, if known."}}Employment Losses <i class="help circle icon"></i>{{/ui-popup}}</td>
      <td>
        <div class="ui input">
          {{input type="text" value=model.emploss}}
        </div>
      </td>
    </tr>
  </tbody>
</table>  
