- if flash
  .row#flash
    .sixteen.wide.column
      - flash.each do |key, value|
        - if key == 'partial'
          - path = value.with_indifferent_access[:path]
          = render partial: "flashes/#{path}",
              locals: { key: key, object: value['object'] }
        - else
          .ui.message{ class: key }
            %i.close.icon
            .p= value
