- if flash
  .row#flash
    .sixteen.wide.column
      - flash.each do |key, messages|

        -# If there is only one message, it will be coerced into
        -# a one-element array.
        -# If there are multiple messages, it will still work.
        - Array(messages).each do |message|

          -# Render a specific partial, specified by the path.
          -# Pass any complex message object to the partial.
          -# See edits/action for an example of how a message object
          -# can personalize a flash

          - if key.to_s.match /partial/
            = render partial: "flashes/#{message[:path]}",
                locals: { key: key, object: message['object'] }


          - else
            -# Render the normal partial.
            = render partial: "flashes/standard",
                locals: { key: key, message: message }
