#header.ui.borderless.fixed.menu
  .ui.container
    = link_to developments_path, class: 'header item' do
      -# Logo goes here
      -# %img.logo{:src => "assets/images/logo.png"}
      MassBuilds

    = link_to developments_path,  class: 'item' do
      Developments

    = link_to organizations_path, class: 'item' do
      Organizations

    = render partial: 'shared/signed_in_header'
