%h3.ui.header
  Commercial
  .sub.header
    Non-residential attributes

%table.ui.very.basic.collapsing.celled.table
  %thead
    %th
      %h4.ui.header
        .content
          Use Type
    %th
      %h4.ui.header
        .content
          Floor Area
          .sub.header
            square feet
    %th
      %h4.ui.header
        .content
          Percent
          .sub.header
            of total floor area
  %tbody
    %tr
      %td
        %h4.ui.header
          .content
            Retail
            .sub.header
              or Restaurant
      %td 100 sq. ft.
      %td 10%
    %tr
      %td
        %h4.ui.header
          .content
            Office
            .sub.header
              or Medical
      %td 100 sq. ft.
      %td 10%
    %tr
      %td
        %h4.ui.header
          .content
            Manufacturing
            .sub.header
              or Industrial
      %td 100 sq. ft.
      %td 10%
    %tr
      %td
        %h4.ui.header
          .content
            Warehouse
            .sub.header
              or Trucking
      %td 100 sq. ft.
      %td 10%
    %tr
      %td
        %h4.ui.header
          .content
            Lab
            .sub.header
              or R&D
      %td 100 sq. ft.
      %td 10%
    %tr
      %td
        %h4.ui.header
          .content
            Educational
            .sub.header
              or Institution
      %td 100 sq. ft.
      %td 10%
    %tr
      %td
        %h4.ui.header
          .content
            Other
      %td 100 sq. ft.
      %td 10%

%h4 Employment
%table.ui.very.basic.collapsing.celled.table
  %tbody
    %tr
      %td
        %h4.ui.header
          .content
            Hotel Rooms
      %td 136
    %tr
      %td
        %h4.ui.header
          .content
            Employment
            .sub.header
              estimated
              %a{href: '#how-does-mapc-estimate-employment'}
                %i.help.circle.icon
      %td 209
    %tr
      %td
        %h4.ui.header
          .content
            Employment
            .sub.header reported
      %td 309