.item
  = render partial: 'users/contributor', object: contributor, as: :contributor
  .content
    .header
      = contributor.full_name
    - #This would be a good place for the user's "primary organization"
