.ui.horizontal.divider
.ui.small.feed
  %h4.ui.header Recent Changes
  = render partial: 'edits/edit', collection: @development.recent_history, as: :edit
  .event
    .label
      %i.list.icon
    .content
      %a See all activity