%h4.ui.header Similar Projects
.ui.divided.items
  =link_to '#', :class => "item" do
    .ui.tiny.image
      %img{:src => "http://semantic-ui.com/images/wireframe/image.png"}
    .middle.aligned.content
      .header 60 Temple Place
      .meta
        %span.address 60 Temple Place, Boston MA 02111
      .description
        6-floor office development.
  =link_to '#', :class => "item" do
    .ui.tiny.image
      %img{:src => "http://semantic-ui.com/images/wireframe/image.png"}
    .middle.aligned.content
      .header 100 Washington
      .meta
        %span.address 100 Washington St, Boston MA 02111
      .description
        Mixed-use affordable housing with street-level retail.
  =link_to '#', :class => "item" do
    .ui.tiny.image
      %img{:src => "http://semantic-ui.com/images/wireframe/image.png"}
    .middle.aligned.content
      .header George Howell Coffee
      .meta
        %span.address 22 Temple Place, Boston MA 02111
      .description
        First-floor retail with apartments above.