%h3.ui.header
  Residential
  .sub.header
    Housing

.ui.blue.basic.label   Age-Restricted

%table.ui.very.basic.celled.table
  %thead
    %th
      / Only display rows with non-zero numbers
      %h4.ui.header
        .content
          Housing Type
    %th
      %h4.ui.header
        .content
          Number of Units
  %tbody
    %tr
      %td
        %h4.ui.header
          .content
            Detached Single Family
      %td 100
    %tr
      %td
        %h4.ui.header
          .content
            Small Multifamily
            .sub.header
              and Townhouse
      %td 100
    %tr
      %td
        %h4.ui.header
          .content
            Large Multifamily
      %td 100
    %tr
      %td
        %h4.ui.header
          .content
            Affordable Units
            .sub.header
              Percentage
      %td 100
    %tr
      %td
        %h4.ui.header
          .content
            Group Quarters
            %a{href: '#how-does-mapc-estimate-employment'}
              %i.help.circle.icon
              -# Estimated new population in group quarters (dorms, nursing homes, military barracks, etc)
            .sub.header
              Number of Beds
      %td 100