-# .ui.teal.basic.label   Draft
-# .ui.grey.basic.label   Private
.ui.red.basic.label    Redevelopment
-# .ui.orange.basic.label Mixed Use
-# .ui.green.basic.label  As of Right
.ui.blue.basic.label   Age-Restricted
-# .ui.purple.basic.label Cluster Development
.ui.pink.basic.label   Phased
-# .ui.black.basic.label  Stalled