/ TODO: In #team, set .ui.image.header top margin to 0 or 2
/ and float the text in the first table column toward the top
/ Maybe remove gridlines
.ui.horizontal.divider
%h4 Development Team
%table.ui.very.basic.collapsing.celled.table
  %tbody
    - @development.team.group_by(&:role).each do |role, members|
      %tr
        %td
          = role.titleize
        %td
          = render partial: 'developments/development/team_member', collection: members, as: :member