/ TODO: In #team, set .ui.image.header top margin to 0 or 2
/ and float the text in the first table column toward the top
/ Maybe remove gridlines
%h3 Development Team
%table.ui.very.basic.collapsing.celled.table
  %tbody
    %tr
      %td
        Developer
      %td
        %h4.ui.image.header
          %img.ui.mini.rounded.image{:src => "http://semantic-ui.com/images/avatar2/small/lena.png"}
            .content
              Boston Properties
              .sub.header
                Boston, MA
    %tr
      %td
        Architects
      %td
        %h4.ui.image.header
          %img.ui.mini.rounded.image{:src => "http://semantic-ui.com/images/avatar2/small/mark.png"}
            .content
              Moskow Linn Architects
              .sub.header
                Boston, MA
        %br
        %h4.ui.image.header
          %img.ui.mini.rounded.image{:src => "http://semantic-ui.com/images/avatar2/small/lena.png"}
            .content
              Cesar Pelli
              .sub.header
                Cambridge, MA
    %tr
      %td
        Engineers
      %td
        %h4.ui.image.header
          %img.ui.mini.rounded.image{:src => "http://semantic-ui.com/images/avatar2/small/lindsay.png"}
            .content
              Vanasse Hangen Brustlin
              .sub.header
                Watertown, MA
        %br
        %h4.ui.image.header
          %img.ui.mini.rounded.image{:src => "http://semantic-ui.com/images/avatar2/small/molly.png"}
            .content
              AECOM
              .sub.header
                San Francisco, CA
    %tr
    %tr
      %td
        Contractor
      %td
        %h4.ui.image.header
          %img.ui.mini.rounded.image{:src => "http://semantic-ui.com/images/avatar2/small/eve.png"}
            .content
              Suffolk Construction
              .sub.header
                Boston, MA