%h3.ui.header
  Transportation
  .sub.header
    Transit, Parking, and Walking

.ui.statistics
  .ui.small.green.statistic
    .label
      Walk Score
    .value
      93
  .ui.small.statistic
    .value
      25
    .label
      Parking Spaces
.ui.mini.red.statistic
  .value
    Charles / MGH
  .label
    Nearest Transit Station

%h3.ui.header
  Building & Site
  .sub.header
    Physical Attributes

.ui.statistics
  .ui.statistic
    .value
      5
    .label
      Stories
  .ui.statistic
    .value
      60
    .label
      feet tall