.ui.error.message
  %i.close.icon
    .header Error
    %p
      %strong An unexpected error occurred on our side of things.
      Our developers have already been notified, and they're looking into the cause.
    %p= object['message']