.ui.error.message
  %i.close.icon
  .header
    An unexpected error occurred on our end.
  .p
    Our developers have already been notified, and they're looking into the cause.
    = object['message']
