=link_to '#', :class => "item" do
  .ui.tiny.image
    %img{:src => "http://semantic-ui.com/images/wireframe/image.png"}
  .middle.aligned.content
    .header= development.name
    .meta
      %span.address= development.address
    .description
      = development.tagline
