= link_to development, class: 'item' do
  .ui.tiny.image
    %img{src: development.street_view(:tiny)}
  .middle.aligned.content
    .header= development.name
    .meta
      %span.address= development.display_address(short: true)
    .description
      = development.tagline
