#header
  #stats
  #views
    %button#list-map.selected
    %button#table
  #actions
    -# Export
    -# Save search
#filters
  -# List all filters
#results
  -# When list|map
    #list
      -# List results
    #map-wrapper
      #map
        -# The map
      #map-filter
        -# "Use map as filter" option
  -# When table
    #table