<div class="ui grid">
  <div class="ui sixteen wide column map-container">
    <div id="map"></div>
  </div>
  <div class="ui sixteen wide column map-list-results">
    {{developments-list-component model=model highlightPoint="highlightPoint"}}
  </div>
</div>
