{{label}}
<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>From</label>
      {{input type="text" value=from}}
    </div>
    <div class="field">
      <label>To</label>
      {{input type="text" value=to}}
    </div>
  </div>
</div>
{{ember-ion-rangeslider
  type="integer"
  min=min
  max=max
  to_max=max
  from_max=from_max
  from_min=0
  step=1
  from=from
  to=to
  updateTrigger='finish'
  }}
