Development Updates
\===================

Daily Summary
\------------------

You are currently watching:
= @user.subscribed(:developments).count
development
= @user.subscribed(:developments).count
development
    1 development  *  1 search  *  0 places
