.fields
  .eight.wide.field
    = f.label :year_compl, 'Actual or estimated year of completion'
    = f.number_field :year_compl

  .eight.wide.field
    = f.label :status, 'Project status'
    = f.select :status, Development.status.options.map{|k,v| [k.titleize,v]}, { selected: @development.status }, { class: 'ui search dropdown' }




-# %i.angle.down.icon
-# %span.text Select Status
-# .menu
-#   .item
-#     %i.icon.checkmark
-#     Completed
-#   .item
-#     %i.icon.find
-#     Projected
-#   .item
-#     %i.icon.calendar
-#     Planning
-#   .item
-#     %i.icon.configure
-#     In Construction
