%br
.fields
  .ui.small.teal.checkable.basic.label   Private
  .ui.small.red.checkable.basic.label    Redevelopment
  .ui.small.green.checkable.basic.label  As of Right
  .ui.small.blue.checkable.basic.label   Age-Restricted
  .ui.small.purple.checkable.basic.label Cluster Development
  .ui.small.pink.checkable.basic.label   Phased
  .ui.small.black.checkable.basic.label  Stalled