%br
.ui.horizontal.divider Transportation

.three.fields
  .ui.field
    = f.label :onsitepark, 'On-site parking spaces'
    .ui.right.labeled.input
      = f.number_field :onsitepark
      .ui.basic.label parking spaces
