.ui.warning.message
  %i.close.icon
  .header
    %i.warning.sign.icon
    The data on this page may be out of date.
  .p
    Do you know what's happened with this development since
    = succeed '?' do
      = @development.last_updated

    If so, please
    = succeed '.' do
      = link_to 'update this record', edit_development_path(@development)

