<div class="ui grid shadow master-grid">
  <div class="four wide column blue search-grid">
    <div class="ui grid row padded">

      <div class="wide column">
        {{partial "search"}}
      </div>
      
    </div>
{{!--     <div class="ui grid row" style="position: fixed; bottom: 0; z-index: 1000; width: inherit; margin: inherit; padding: inherit;">
      <div class="column blue">
      </div>
    </div> --}}
  </div>
  <div class="twelve wide column white results">
    <div class="ui two attached buttons">
      {{#link-to "developments.table" class="ui button"}}Table{{/link-to}}
      {{#link-to "developments.map" class="ui button"}}Map{{/link-to}}
    </div>
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>
